<!--Question text -->
<div class="container">
    <%= simple_form_for @question do |f| %>
    <%= f.input :question_text, label: "Question or Statement", placeholder: "Type in your question or statement..." %>
</div>
<!-- Type of question choice -->
<div class="container">
  <p><%= "Select your type of question" %></p>
    <div class="btn btn-primary" type="multiple-choice-button" data-bs-toggle="collapse" data-bs-target="#collapseMC" aria-expanded="true" aria-controls="collapseMC">
      Multiple Choice
    </div>
    <div class="btn btn-primary" type="bar-scale-button" data-bs-toggle="collapse" data-bs-target="#collapseBS" aria-expanded="false" aria-controls="collapseBS">
      Bar Scale
    </div>
    <div class="btn btn-primary" type="likert-scale-button" data-bs-toggle="collapse" data-bs-target="#collapseLS" aria-expanded="false" aria-controls="collapseLS">
      Likert Scale
    </div>
  </p>
  <div class="collapse" id="collapseMC">
    <div class="card card-body">
    <!-- Answer options for multiple choice type of question -->
    <p><%= "Answer options of your question" %></p>
      <div class="question_container">
        <div class="options">
          <h4>Options</h4>
          <% 3.times do |i| %>
          <input type="text" placeholder="Write your option" name='<%= "option_#{i + 1}" %>'>
          <%= f.simple_fields_for :options do |sub_f| %>
            <%= sub_f.input :option_text, label: "Option", label: false, placeholder: "Write your answer here." %>
            <% end %>
          <% end %>
        </div>
        <div class="values">
          <h4>Values</h4>
          <% 3.times do |i| %>
            <%= f.simple_fields_for :options do |sub_f| %>
              <%= sub_f.input :value, label: "Possible points", label: false, placeholder: "1...8" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="collapseBS">
    <div class="card card-body">
      Work-in-Progress
    </div>
  </div>
  <div class="collapse" id="collapseLS">
    <div class="card card-body">
      Work-in-Progress
    </div>
  </div>
    <input type="integer" name="weight" id="weight">
    <%= f.submit "Save question" %>
    <% end %>
</div>
