<%= tag.tr id: dom_id(assessment), class: 'tr-mygrid assessment-tr-mygrid' do %>
  <td style="display:none;"><%= assessment.id %></td>
  <td scope="row"><%= assessment_counter + 1 %></td>
  <td><%= assessment.name %></td>
  <td><%= assessment.description %></td>
  <td style="display:none;"><%= assessment.state %></td>
  <%# <% if @assess_link_show_flag %>
  <td><%= link_to "Show", assessment_path(assessment), class: "btn btn-secondary container-fluid nav-link px-0" %></td>
  <%# <% end %>
<% end %>
