 <div class="container-fluid">
   <div class="row flex-nowrap">
     <!--SIDEBAR -->
     <%# Booker %>
     <% if  (@role == 'User')%>
     <% content_for(:booker) { render partial: 'users/sidebar_client', locals: { myclient: current_user  }} %>
     <%# Host %>
     <% elsif  (@role == 'Admin')%>
     <% content_for(:host) { render partial: 'users/sidebar_consultant', locals: { myconsultant: current_user }} %>
     <% end%>
     <%= render  "users/navbar" %>
     <!--CONTENT -->
     <div class="col py-3">
       <%# Content area... %>
       <div class="container">
         <div class="row row-cols-1 row-cols-md-2 g-3">
           <div class="col">
             <div class="card h-100  bg-light">
               <div class="card-body bg-light">
               <h5 class="card-text text-truncate text-center" style = "background-color: #dee2e6">Templates</h5>
                 <p>You have totally <%= @assessments.count %> templates to this test</p>
                 <p>thereof<%= " #{@assessments_drafts.count} templates drafts and #{@assessments_ready.count} ready templates" %></p>
               </div>
             </div>
           </div>
         </div>
     </div>
       <!--CARDS -->
          <% case  @redir%>
          <% when  71%>
              <%= render "assessmentpicker", assessments: @assessments_drafts, mypagy: @pagy_drafts, assess_state: 'draft', assess_link_show_flag: true %>
           <% when  72%>
             <%= render "assessmentpicker", assessments: @assessments_ready, mypagy: @pagy_ready, assess_state: 'ready', assess_link_show_flag: true %>
           <% else %>
             ...
         <% end%>
     </div>
  </div>
</div>
