<div class="custom-container assessment-flex">
  <div>
    <h1><%= @assessment.name %></h1>
    <p> <%= @assessment.description %></p>
  </div>
  <%# command buttons %>
  <div class="command buttons">
    <%= link_to "Save", user_path(current_user), class: "btn btn-primary" %>
    <%= render "responses/user_select_dropdown" %>
  </div>
</div>

<%# Question-cards %>
<div class="question-container custom-container">
  <div>
    <h3>Add new Question</h3>
    <%= simple_form_for(@question) do |f| %>
      <input type="hidden" name="assessment" id="assessment" value="<%= @assessment.id ? @assessment.id : "" %>">
      <%= f.input :question_text, class: "input-field" %>
      <div class="assessment-flex">
        <%= f.input :question_type, placeholder: "Question Type", label: false, class: "input-field" %>
        <input type="integer" name="weight" id="weight" class="input-field" placeholder="weight">
      </div>

      <h5>Answer options of your question</h5>
      <div class="question_container">
        <div class="options">
          <h4>Options</h4>
          <% 3.times do |i| %>
            <input type="text" placeholder="Write your option" class="input-field" name='<%= "option_#{i + 1}" %>'>
          <% end %>
        </div>
        <div class="values">
          <h4>Values</h4>
          <% 3.times do |i| %>
            <input type="text" placeholder="1..8" name='<%= "value_#{i + 1}" %>' class="input-field">
          <% end %>
        </div>
      </div>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div>
    <h3>Questions</h3>
      <% @assessment.questions.each_with_index do |question, i| %>
        <div class="card">
          <div class="card-header question-header-container assessment-flex">
            <p class="question-name">Question <%= i + 1 %></p>
            <%= link_to "Delete", question_path(question.id), class:"c-button delete", data: {turbo_method: :delete} %>
          </div>
          <div class="card-body">
            <div class="question-header-container assessment-flex">
              <%= question.question_text %>
              <%= link_to "Edit", assessment_path(@assessment, question_id: question.id), class:"c-button edit" %>
              <a href="#" class="c-button edit">Edit</a>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
