<h1><%= @assessment.name %></h1>
<p> <%= @assessment.description %></p>

<%# Question-cards %>
<div class="container">
  <% @assessment.questions.first(2).each_with_index do |_question, i| %>
    <div class="card">
      <div class="card-header d-flex">
      <p>Question <%= i + 1 %></p>
        <div class="question-number justify-content-between">
          <div class="card-btns justify-content-between">
            <a href="#" class="btn btn-primary">Delete question</a>
          </div>
        </div>
      </div>
      <div class="card-body">

      </div>
    <a href="#" class="btn btn-primary">Save question</a>
    </div>
  <% end %>
  <%= simple_form_for(@question) do |f| %>
      <input type="hidden" name="assessment" id="assessment" value="<%= @assessment.id ? @assessment.id : "" %>">
      <%= f.input :question_text %>
      <%= f.input :question_type %>
      <hr>

      <p><%= "Answer options of your question" %></p>
      <div class="question_container">
        <div class="options">
          <h4>Options</h4>
          <% 3.times do |i| %>
            <input type="text" placeholder="Write your option" name='<%= "option_#{i + 1}" %>'>
          <% end %>
        </div>
        <div class="values">
          <h4>Values</h4>
          <% 3.times do |i| %>
            <input type="text" placeholder="1..8" name='<%= "value_#{i + 1}" %>'>
          <% end %>
        </div>
      </div>

      <%= f.submit "Save question" %>
    <% end %>


</div>

<%# command buttons %>
<div class="container d-flex justify-content-evenly">
  <a href="#" class="btn btn-primary">Add question</a>
  <a href="#" class="btn btn-primary">Save assessment</a>
  <a href="#" class="btn btn-primary">Finish & Share Assessment</a>
</div>
