<div class="container">
  <% if @admin_response_completed_exist %>
<<<<<<< HEAD
  <h3>assessments completed by clients:</h3>
  <div class="row">
  <ul class="list"> 
=======
  <h3>Assessments completed by clients:</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
>>>>>>> 4f6b9e488b608933f950a2a4490cea40bdc45b45
    <!--CARD ITERATION -->
    <% admin_responses_completed.each do |response| %>
     <li class="list-item">  
     <div class="list-content">
      <a href="<%= user_responses_path( response.user, response, redir_param: 21, accord_param: "flush-headingSix")%>"  class="nav-link px-0">
        <div class="card h-100">
        <h5 class="card-title text-center"><p class="card-text text-truncate"><%= response.assessment.name %></p></h5>
          <%= image_tag("assessments/#{pic_response_picker()}", width: 200, class: "card-img-top", alt: "assessment picture") %>
          <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= response.assessment.description %>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <p><%= "User name: #{response.user.name}" %></p>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <p><%= "#{response.assessment.questions_assessments.count} questions totally" %></p>
              <p><%= "#{response.answers.count} questions completed" %></p>
            </li>
            <li style="list-style: none;">
            <% if !response.assessment.questions_assessments.empty? && !response.answers.empty?%>
              <%= render 'bs_progressbar', pbvalwidth: ((response.answers.count.to_f / response.assessment.questions_assessments.count) * 100).round(0),
                  pbvalmin: 0, pbvalnow: response.answers.count, pbvalmax: response.assessment.questions_assessments.count %>
            <% end %>
            </li>
          </ul>
          </div>
        </div>
        </a>
            </div>
      </li>
    <% end %>
      </ul>
  </div>
  <% else %>
    <p class="mt-3 mb-3">There are currently no assessments completed by clients.</p>
  <% end %>
</div>
