<div class="container">
  <% if @admin_responses_current_exist %>
  <h4 class="mt-3 mb-3">Open assessments to be completed</h4>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <!--CARD ITERATION -->
    <% admin_responses_current.each do |response| %>
      <div class="col">
      <a href="<%= user_responses_path( response.user, response, redir_param: 21, accord_param: "flush-headingSix")%>"  class="nav-link px-0">
        <div class="card h-100">
        <h5 class="card-title text-center"><p class="card-text text-truncate"><%= response.assessment.name %></p></h5>
          <%= image_tag("assessments/#{pic_response_picker()}", width: 200, class: "card-img-top", alt: "assessment picture") %>
          <div class="card-body">
          <div class= "responsedate"><%= "created #{response.created_at.to_date} #{response.created_at.hour}:#{response.created_at.min}" %></div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= response.assessment.description %>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <p><%= "User name: #{response.user.name}" %></p>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <p><%= "#{response.answers.count} questions out of #{response.assessment.questions_assessments.count} completed." %></p>
            </li>
            <li style="list-style: none;">
              <% if !response.assessment.questions_assessments.empty? && !response.answers.empty?%>
                <%= render 'bs_progressbar', pbvalwidth: ((response.answers.count.to_f / response.assessment.questions_assessments.count) * 100).round(0),
                  pbvalmin: 0, pbvalnow: response.answers.count, pbvalmax: response.assessment.questions_assessments.count %>
              <% end %>
            </li>
          </ul>
          </div>
        </div>
        </a>
      </div>
    <% end %>
  </div>
  <% else %>
    <p class="mt-3 mb-3">There are no open assessments.</p>
  <% end %>
</div>
