<div class="container">
  <% if @admin_response_completed_exist %>
  <h3>assessments completed by clients:</h3>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!--CARD ITERATION -->
    <% admin_responses_completed.each do |response| %>
      <div class="col">
      <a href="<%= user_responses_path( response.user, response, redir_param: 21, accord_param: "flush-headingSix")%>"  class="nav-link px-0">
        <div class="card h-100">
        <h5 class="card-title text-center"><p class="card-text text-truncate"><%= response.assessment.name %></p></h5>
          <%= image_tag("assessments/#{pic_response_picker()}", width: 200, class: "card-img-top", alt: "assessment picture") %>
          <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= response.assessment.description %>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <p><%= "User name: #{response.user.email}" %></p>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <p><%= "#{response.assessment.questions_assessments.count} questions totally" %></p>
              <p><%= "#{response.answers.count} questions completed" %></p>
            </li>
            <li style="list-style: none;">
              <%= render 'bs_progressbar', pbvalwidth: ((response.answers.count.to_f / response.assessment.questions_assessments.count) * 100).round(0),
                  pbvalmin: 0, pbvalnow: response.answers.count, pbvalmax: response.assessment.questions_assessments.count %>
            </li>
          </ul>
          </div>
        </div>
        </a>
      </div>
    <% end %>
  </div>
  <% else %>
    <p>no assessments completed by clients</p>
  <% end %>
</div>