<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= pbvalwidth %>%" aria-valuenow="<%= pbvalnow %>" aria-valuemin="<%= pbvalmin %>" aria-valuemax="<%= pbvalmax %>"><%= pbvalwidth %>%</div>
</div>