<div class="container">
  <% if @responses_current_exist %>
  <p>current tests to be completed:</p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!--CARD ITERATION -->
    <% responses_current.each do |response| %>
      <div class="col">
      <a href="<%= user_responses_path( myclient, response, redir_param: 21, accord_param: "flush-headingTwo")%>"  class="nav-link px-0">
        <div class="card h-100">
           <%= image_tag("assessments/#{pic_response_picker()}", width: 200, class: "card-img-top", alt: "assessment picture") %>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text text-truncate"><%= response.assessment.name %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <%= response.assessment.description %>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <p><%= "#{response.assessment.questions_assessments.count} questions totally" %></p>
              <p><%= "#{response.answers.count} questions completed" %></p>
            </li>
            <li style="list-style: none;">
              <%= render 'bs_progressbar', pbvalwidth: ((response.answers.count.to_f / response.assessment.questions_assessments.count) * 100).round(0),
                  pbvalmin: 0, pbvalnow: response.answers.count, pbvalmax: response.assessment.questions_assessments.count %>
            </li>
          </ul>
        </div>
        </a>
      </div>
    <% end %>
  </div>
  <% else %>
    <p>no current tests</p>
  <% end %>
</div>