
 <div class="container-fluid">
   <div class="row flex-nowrap row row-cols-1 row-cols-md-2 g-3 justify-content-start">
     <!--SIDEBAR -->
     <%# Booker %>
     <% if  (@role == 'User')%>
     <% content_for(:booker) { render partial: 'users/sidebar_client', locals: { myclient: @user  }} %>
     <%# Host %>
     <% elsif  (@role == 'Admin')%>
     <% content_for(:host) { render partial: 'users/sidebar_consultant', locals: { myconsultant: @user }} %>
     <% end%>
     <%= render  "users/navbar" %>
     <!--CONTENT -->
     <div class="col py-3 ms-2">
        <%# Content area... %>
       <div class="m-0">

        <div class="col">
          <div class="">
            <h4 class="card-title text-center bg-secondary text-light p-2 rounded">
            <% if (@redir == 21 || @redir == 22) %>
            Total number of assessments: <%= @user.responses.count %>
            <br>
              <span><%= @user.responses.where(completed: false).count %> open and <%= @user.responses.where(completed: true).count %> completed</span>
            <% end %>
            <% if (@redir == 61 || @redir == 62 || @redir == 63) %>
              <span><%= @admin_responses_current.count %> Open assessments <br><%= @admin_responses_completed.count %> completed assessments</span>
            <% end %>
            </h4>
          </div>
        </div>



     </div>

       <!--CARDS -->
          <% case  @redir%>
          <% when  21%>
             <%= render "users/responsecard", myclient: @user, responses_current: @responses_current, responses_current_exist: @responses_current_exist %>
           <% when  22%>
             <%= render "users/responsecardcompleted", myclient: @user, responses_completed: @responses_completed, responses_completed_exist: @responses_completed_exist %>
           <% when  61%>
             <%= render "users/adminresponsecard", admin_responses_current: @admin_responses_current, admin_responses_current_exist: @admin_responses_current_exist  %>
           <% when  62%>
             <%= render "users/adminresponsecardcompleted",  admin_responses_completed: @admin_responses_completed, admin_responses_completed_exist: @admin_responses_completed_exist %>
           <% when  63%>
             <%= render "assessments/create_assessment_poup", assessment: @assessment,  admin_responses_completed: @admin_responses_completed, admin_responses_completed_exist: @admin_responses_completed_exist %>
            <% else %>
             ...
          <% end %>
     </div>
  </div>
</div>


<!-- end of file -->
