
<div class="container" style="margin-top: 24px" data-controller="add-answer" data-add-answer-target="card">
  <div class="card">
  <%= simple_form_for [response, answer], html: { data: {add_answer_target: "form", action: "submit->add-answer#create"}} do |f| %>

    <div class="card-header">
      Question Nr: <%= myquestionindex+1 %>.
    </div>

    <div class="card-body">
      <h5 class="card-title"><%= myassessquestions.find(myquestionid).question.question_text %></h5>
      <% myassessquestions.find(myquestionid).question.options.each do |assessoption| %>
      <%  currchecked = Answer.find_by(option_id: assessoption.id, response_id: response.id).nil? ? false : true %>
      <p class = "text-primary" style="background-color: #ffffff"><%= f.radio_button :option_id, assessoption.id, checked: currchecked %><span class="px-2" ><%= assessoption.option_text %></span></p>
    <% end %>
        <%= hidden_field_tag :assessquestion_id, myquestionid %>
        <input type=hidden name=m_submit value=''/>
        <div class="d-flex justify-content-center">
          <%= f.submit 'back', class: "btn btn-primary me-3",  onclick: 'this.form.m_submit.value = this.value;'  %>
          <%= f.submit 'next', class: "btn btn-primary",  onclick: 'this.form.m_submit.value = this.value;' %>
        </div>
      <div style="list-style: none;">
      <br>
              <%= render 'users/bs_progressbar', pbvalwidth: ((response.answers.count.to_f / response.assessment.questions_assessments.count) * 100).round(0),
                  pbvalmin: 0, pbvalnow: response.answers.count, pbvalmax: response.assessment.questions_assessments.count %>
            </div>
    </div>
  </div>

  <% end %>
</div>
