
<div data-controller="result">
    <div class="container position-absolute spinner-position" data-result-target="hideable">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div class="container row-cols-md-2 g-4" style="margin-top: 24px" data-result-target="hideable" hidden>
      <%  exampescore_from_user_in_percent = response.score%>
      <div class="card ">
        <div class="card-body">
          <% if exampescore_from_user_in_percent < 33 %>
            <h2 class="card-title text-center bg-secondary text-light fw-semibold">Your level: Novice</h2>
            <p class="card-text text-center fw-semibold">Your score: <%= exampescore_from_user_in_percent %> %</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <div>
            <%= image_tag "assessments/images/undraw_Security_re_a2rk.png", class:"card-img-bottom", alt: "bad" %>
            </div>
          <% elsif (33..66) === exampescore_from_user_in_percent  %>
            <h2 class="card-title text-center bg-secondary text-light fw-semibold">Your level: Intermediate</h2>
              <p class="card-text text-center fw-semibold">Your score: <%= exampescore_from_user_in_percent %> %</p>
              <p class="card-text"><small class="text-muted"></small></p>
              <div>
              <%= image_tag "assessments/images/undraw_heatmap_uyye.png", class:"card-img-bottom", size: "100px" , alt: "medium"  %>
            </div>
          <% else exampescore_from_user_in_percent >= 66 %>
            <h2 class="card-title text-center bg-secondary text-light fw-semibold">Your level: Expert</h2>
              <p class="card-text text-center fw-semibold">Your score: <%= exampescore_from_user_in_percent %> %</p>
              <p class="card-text"><small class="text-muted"></small></p>
              <div>
            <%= image_tag "assessments/undraw_Done_re_oak4.png", class:"card-img-bottom", alt: "good" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>
</div>
