<% exampescores = response.score.to_f / 100  %>
<% exampescore_from_user = exampescores %>
<% exampescore_from_user_in_percent = (exampescore_from_user / 8 * 100).round(2)  %>


<div class="container" style="margin-top: 24px" data-controller="add-answer" data-add-answer-target="card">
  <div class="card">
    <div class="card-body" >
      <% if exampescore_from_user_in_percent < 33 %>
        <h2 class="card-title">You are a Novice</h2>
        <h3 class="card-text">You scored at <%= exampescore_from_user_in_percent %> %</h3>
        <p class="card-text"><small class="text-muted"></small></p>
        <div>
        <%= image_tag "undraw_awesome_rlvy.png", class:"rounded mx-auto d-block", alt: "paul rocks" %>
        </div>
      <% elsif (33..66) === exampescore_from_user_in_percent  %>
        <h2 class="card-title">You are a Intermediate</h2>
          <h3 class="card-text">You scored at <%= exampescore_from_user_in_percent %> %</h3>
          <p class="card-text"><small class="text-muted"></small></p>
          <div>
          <%= image_tag "undraw_awesome_rlvy.png", class:"rounded mx-auto d-block", size: "100px" , alt: "paul rocks"  %>
        </div>
      <% else exampescore_from_user_in_percent >= 66 %>
        <h2 class="card-title">You are Sexpert</h2>
          <h3 class="card-text">You scored at <%= exampescore_from_user_in_percent %> %</h3>
          <p class="card-text"><small class="text-muted"></small></p>
          <div>
        <%= image_tag "undraw_awesome_rlvy.png", class:"rounded mx-auto d-block", alt: "paul rocks" %>
        <% end %>
    </div>
  </div>
</div>
</div>
