 <div class="container-fluid">
   <div class="row flex-nowrap">
     <!--SIDEBAR -->
     <%# Booker %>
     <% if  (@role == 'User')%>
     <% content_for(:booker) { render partial: 'users/sidebar_client', locals: { myclient: @user  }} %>
     <%# Host %>
     <% elsif  (@role == 'Admin')%>
     <% content_for(:host) { render partial: 'users/sidebar_consultant', locals: { myconsultant: @user }} %>
     <% end%>
     <%= render  "users/navbar" %>
     <!--CONTENT -->
     <div class="col py-3">
       <%# Content area... %>
       <div class="container">
         <div class="row row-cols-1 row-cols-md-2 g-1">
           <div class="col">
             <div class="card h-100  bg-light">
               <h4 class="card-title text-center bg-secondary text-light">Hello, <%= @user.name%>!</h4>
               <div class="card-body bg-light">
               <h5 class="card-text text-truncate text-center" style = "background-color: #dee2e6"><%= @response.assessment.name %></h5>
                 <p>The test contains <%= @questions.count %> questions</p>
                 <p><%= "#{@response.answers.count} questions completed" %></p>
               </div>
             </div>
           </div>
         </div>
     </div>
       <!--CARDS -->
         <% if  @completed%>
           <%= render "result_to_response", response: @response %>
         <% else%>
           <%= render "question_to_response", response: @response, answer: @answer, myassessquestions: @questions, myquestionid: @myquestionid_new, myquestionindex: @myquestionindex_new %>
         <% end%>
     </div>
  </div>
</div>
