<div class="banner-home">
  <div class="container">
    <h1>Online Maturity Assessment Generator</h1>
    <p>Qualify your prospects beyond the pushy sales talk</p>
    <% if user_signed_in? %>
      <%= link_to "Get started", user_path(current_user, redir_param: 61, accord_param: "flush-headingSix"), class: "button-omag-blue" %>
    <%else  %>
    <%= link_to "Get started", new_user_session_path, class: "button-omag-blue" %>
  <% end %>
  </div>
</div>

<div class="container">
    <h2 class="mb-4 mt-4" id= "how-it-works"><strong>How it works<strong></h2>

      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="false" class="p-2">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "1.create.png", class: "d-block w-100", alt: "create image" %>
              <div class="carousel-caption d-none d-md-block">
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag "2.share.png", class: "d-block w-100", alt: "share image" %>
            <div class="carousel-caption d-none d-md-block">
              <p></p>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag "3.getresults.png", class: "d-block w-100", alt: "results image" %>
            <div class="carousel-caption d-none d-md-block">
              <p></p>
            </div>
          </div>
        </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>
      </div>
</div>
