<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-3">
      <div class="col">
        <div class="card h-100  bg-light">
        <h4 class="card-title text-center bg-primary"><p class="card-text text-truncate">Question nr.: <%= myquestionindex+1 %></p></h4>
          <%= form_with url: response_path, method: :patch do |f| %>
           <div class="card-body bg-light">
               <p class = "font-weight-bold bg-light text-center"><%= myassessquestions.find(myquestionid).question.question_text %></p>
                  <% myassessquestions.find(myquestionid).question.options.each do |assessoptions| %>
                    <p style = "background-color: #e7f1ff"><%= f.radio_button :id, true %><span class="px-2"><%= assessoptions.option_text %></span></p>
                  <% end %>
           </div>
           <div class="card-footer bg-secondary text-center">
             <a id="link_121" class="btn btn-light btn-sm" href="<%= response_path( myresponse, myassessquestionid: myquestionid, dir_param: "back", redir_param: 21, accord_param: "flush-headingTwo")%>" class="nav-link px-0">
             <i class="fs-1 bi bi-arrow-left-square"></i></a>
             <a id="link_122" class="btn btn-light btn-sm" href="<%= response_path(  myresponse, myassessquestionid: myquestionid, dir_param: "forth", redir_param: 21, accord_param: "flush-headingTwo")%>"   class="nav-link px-0">
             <i class="fs-1 bi bi-arrow-right-square"></i></a>
           </div>
          <% end %>
        </div>
      </div>
  </div>
</div>